body {
    font-family: monospace;
    font-size: 12px;
}

.divExemplo {
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    height: 300px;
    width: 600px;
    overflow: scroll;
    overflow-style: scrollbar;
}

.pDOM:nth-child(even) {
    background-color: #006699;
}

.canvasExemplo10 {
    border: solid thin #000000;
    margin: 10px;
}